@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap");

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Color */

  --color-barberdark: #1a1a1a;
  --color-imagebg: #333333;
  --color-graybg: #262525;
  --color-ultragray: #1c1b1b;
  --color-grayewan: #313332;
  --color-offwhite: #e6ede8;

  /* Font & Size */
  --text-semi: 18px;
  --text-smool: 15px;
  --font-inter: "inter", sans-serif;
}

.dark .dp__theme_dark {
  --dp-background-color: #000000;
  --dp-text-color: #ffffff;
  --dp-hover-color: #000000;
  --dp-border-color: #000000;
}

.dp__theme_dark .dp__calendar {
  background: #000000;
}
